
<div class="wrapper">
  <i class="fa-circle"></i>

</div>
<ul class="menu">
  <li title="Do"><a href="#" class="fa-square">Do</a></li>
  <li title="Doer"><a href="#" class="fa-circle">Doer</a></li>
  <li title="Calendar"><a href="#" class="fa-calendar-check">Calendar</a></li>
  <li title="Plus"><a href="#" class="active  fa-plus">plus</a></li>
  <!--<i class="far fa-lightbulb" style="font-size: 300px;color:silver"></i>-->
  <li title="Idea"><a href="#" class="fa-lightbulb-o">Idea</a></li>
  <li title="Time"><a href="#" class="fa-play">Time</a></li>
</ul>




