<ul class="vertical-menu">
  <li title="Do"><a href="#" class="fa-square"></a></li>
  <li title="Doer"><a href="#" class="fa-circle"></a></li>
  <li title="Calender"><a href="#" class="fa-calendar-check"></a></li>
  <li><a href="#" class="active fa-plus"></a><ul>
    <li title="Do"><a href="#" class="fa-square"> Do</a></li>
    <li title="Doer"><a href="#" class="fa-circle"> Doer</a></li>
    <li title="Idea"><a href="#" class="fa-lightbulb-o"> Idea</a></li>
  </ul>
  </li>
  <li title="Idea"><a href="#" class="fa-lightbulb-o"></a></li>
  <li title="Time"><a href="#" class="fa-play"></a></li>
</ul>
